<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container body-content">

        <div class="navbar navbar-inverse" role="heading">
            <a class="navbar-brand" href="#">SOLUTION STORE</a>
        </div>

        <div class="container row">
            <div id="categories" class="btn-group-justified">
                @Html.Action("Menu", "Nav")
            </div>
        </div>
        <div class="row col-xs-offset-2 col-xs-8">
            <div class="btn-group-justified">
                @Html.Action("SystemMenu", "Nav")
            </div>
        </div>
        <div class="row panel">
            <div class="col-xs-offset-1 col-xs-10">
                @RenderBody()
            </div>

        </div>
    </div>
</body>
</html>